/* === Global === */
@dark-1: #000;
@dark-2: #101619;
@dark-3: #1d2529;
@dark-4: #2d3a42;
@dark-5: #333b41;
@dark-6: #4e5d65;
@dark-7: #788690;

/* === Body === */
@water-1: #fff;
@water-2: #e3f4ff;
@water-3: #c6dbe8;
@water-4: #9cc4dd;
@water-5: #a0cfeb;
@water-6: #8d9ca6;


/* === Color glow === */
@glow-1: #3877eb;
@glow-2: #00aeef;
@glow-3: #8dc63f;
@glow-4: #ecef00;
@glow-5: #efae00;
@glow-6: #ef4f00;
// @glow-7: #f73f37;
@glow-7: #efae00;
@glow-8: #c50505;
@glow-9: #aa38eb;
@glow-10: #e6a4ff;

/* === Social Media === */
@facebook: #3b5998;
@flickr: #ff0084;
@foursquare: #1eaeeb;
@github: #444;
@plus-google: #dd4b39;
@instagram: #ab8163;
@linkedin: #0077b5;
@pinterest: #cb2027;
@feed: #f0bd89;
@skype: #04b1f5;
@tumbl: #444;
@twitter: #55acee;
@vimeo: #444;
@youtube: #cc181e;